@displayFlex: {
    display: flex;
};
.show{
	display: flex !important;
	z-index: 99999!important;
}
.hidden{
	display: none !important;
	z-index: -1 !important;
}
.help-area{
	min-width: 0px!important;
	right: 0px;
	top:0px;
	flex-grow: 1;
	height: 100%;
	@media screen and (max-width: 768px){
		max-width: 45%;	
	}
	@media screen and (min-width: 768px) and (max-width: 1200px){
		max-width: 40%;	
	}
	@media screen  and (min-width: 1200px){
		max-width: 30%;	
	}
	transition: width 0.3s ease-in;
	@media screen and (min-width: 1200px){
		top:20px;
		height: calc(~"100% - 40px");
	}

}
.pop-area{
	background-color: #FFF;
	box-shadow: 0 0 1px;
	border-radius: 5px;
	@displayFlex();
	//padding:15px;
	flex-direction: column;
	position: fixed;
	z-index: 99999;
	min-width: 250px;
	min-height: 300px;
	
	.pop-header{
		@displayFlex();
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;	
		padding:15px 0;
		.pop-title{
			margin-left:15px; 
		}
		.pop-close{
			padding:0 15px;
			font-size: 17px;
		}
	}
	.pop-body{
		flex-grow: 1;
		padding:15px;
	}
	.pop-btn-area{
		@displayFlex();
		justify-content: center;
		align-items: center;
		border-top: 1px solid #eee;		
		a{
			padding:15px;
			@displayFlex();
			flex-grow: 0.5;
			justify-content: center;
			align-items: center;
			color: #000000;
			text-decoration:none;

		}
		a:active{
			color: #43bfbe;	
		}
		a:hover{
			color: #FFFFFF;
			background-color: #43bfbe;
		}
		.cancel-btn:hover{
			background-color: #FF0033 !important;
		}
	}
}

.help-msg-box{
	@displayFlex();
	flex-direction: column;
	margin-bottom: 15px;
	.help-msg-title{
		line-height: 1.4;
		font-weight: bold;
	}
	.help-msg-content{
		line-height: 1.4;
		margin-left: 15px;
	}
}