
.bg_fff{
	background-color: #FFF
}
.glyphicon{
	top:2px !important;
}
.container .box_content .form-group{
	margin-bottom:25px;
}
.login_area{
	position: relative
}
.login_area .top_area{
	background-color: #6666FF
}
.lr_box{
	position:absolute;
	right:0;
	left:0;
}
.lr_box .lr_box_content{
	background-color:#f5f5f5;
	padding:25px 25px;
	border-radius:15px;
}
.lr_box .lr_box_content .box_title{
	text-align:center;
	margin-bottom:25px;
}
.lr_box .lr_box_content .rightBtn{
	//float:right;
	width:100%;
	margin-bottom:25px;	
}

.register_box{
	display:none;
}

.logo-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    top:-15px;
    transform: rotate(45deg);
    width: 2.5em;
    height: 2.5em;

}

.logo-icon:before, .logo-icon:after {

    content: '';
    position: absolute;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    //transform: translate(-50%, -50%);
}


.logo-icon:before{
    animation: before 8s infinite;
}

//.logo-icon:after{
//    animation: after 3s infinite;
//}

@keyframes before {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    25% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);   
    }

    90% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    95% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

}

@keyframes after {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    25% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    50% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    75% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

}